:root {
    --input-container-width: calc(70vw - 26vw);
    --input-background: #f8f8f4;
    --logo-pane-width: 26vw;
    --logo-box-height: 15vh;
    --credit-font-color: rgb(202, 202, 202);
}

@font-face {
    font-family: odin-font;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 15, 15);
}

a {
    color: var(--credit-font-color);
}

.main {
    width: 69.8vw;
    height: 100vh;
    background-color: white;
    margin: auto;
    display: flex;
}

#logo-pane {
    width: var(--logo-pane-width);
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 33vw 100vh;
    background-position: center;
    position: relative;
}

#input-pane {
    width: var(--input-container-width);
    height: 100vh;
    background-color: var(--input-background);
}

#section-2 {
    position: relative;
    top: 36vh;
    height: 30vh;
    box-shadow: 0px 20px 15px -15px lightgrey;
    background-color: white;
}

#logo-box {
    width: var(--logo-pane-width);
    height: var(--logo-box-height);
    background-color: #00000070;
    margin-top: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-img {
    height: 12vh;
    width: auto;
}

#odin-text {
    color: white;
    font-size: 6em;
    display: inline;
    font-family: odin-font;
    height: var(--logo-box-height);
    padding-top: 3vh;
}

#img-credit {
    position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;
}

#credit {
    color: var(--credit-font-color);
    text-align: center;
    font-size: .9em;
}
