:root {
    --input-container-width: calc(70vw - 26vw);
    --section-1-height: 36vh;
    --section-2-height: 29.5vh;
    --section-3-height: calc(100vh - var(--section-1-height) - var(--section-2-height));
    --eggshell: #fffffc;
}

* {
    margin: 0;
}

body {
    background-color: black;
}

.main {
    width: 69.8vw;
    height: 100vh;
    background-color: white;
    margin: auto;
    display: flex;
}

#logo-pane {
    width: 26vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 33vw 100vh;
    background-position: center;
}

#input-pane {
    display: flex;
    flex-direction: column;
    width: var(--input-container-width);
    height: 100vh;
}

#section-1 {
    background-color: var(--eggshell);
    height: var(--section-1-height);
}

#section-2 {
    height: var(--section-2-height);
}

#section-3 {
    background-color: var(--eggshell);
    height: var(--section-3-height);
}
