:root {
    --input-container-width: calc(70vw - 26vw);
    --input-background: #f8f8f4;
    --credit-font-color: rgb(202, 202, 202);
    --input-pane-left-padding: 55px;
}

@font-face {
    font-family: odin-font;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(15, 15, 15);
}

a {
    color: var(--credit-font-color);
}

.main {
    width: 69.8vw;
    height: 100vh;
    background-color: white;
    margin: auto;
    display: flex;
}

#logo-pane {
    width: 26vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 700px 1080px;
    background-position: center;
    position: relative;
}

#input-pane {
    width: var(--input-container-width);
    height: 100vh;
    background-color: var(--input-background);
}

#input-pane-form-container {
    position: relative;
    height: 280px;
    box-shadow: 0px 20px 15px -15px lightgrey;
    background-color: white;
    margin-bottom: 32px;
}

#logo-box {
    width: var(--logo-pane-width);
    height: 140px;
    background-color: #00000070;
    margin-top: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-img {
    --_img-height: 120px;
    height: var(--_img-height);
    width: auto;
}

#odin-text {
    color: white;
    font-size: 6em;
    display: inline;
    font-family: odin-font;
    height: var(--logo-box-height);
}

#img-credit {
    position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;
}

#credit {
    color: var(--credit-font-color);
    text-align: center;
    font-size: .9em;
}

#input-pane-text-top-1, #input-pane-text-top-2 {
    font-size: 1.4em;
    padding-left: var(--input-pane-left-padding);
    padding-right: 6em;
    font-weight: 600;
    line-height: 110%;
}
#input-pane-text-top-1 {
    margin-top: 16vh;
}

#input-pane-text-top-2 {
    margin-top: 3vh;
    margin-bottom: 6vh;
}

#input-pane-btn {
    font-size: 1.15em;
    font-weight: 500;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    height: 46px;
    width: 220px;
    margin-left: 2.5em;
    margin-bottom: 30px;
}

#input-pane-text-bottom {
    font-size: 1.15em;
    margin-left: var(--input-pane-left-padding);
    font-weight: 400;
}

#input-pane-link {
    color: #596D48;
    text-decoration: none;
    font-weight: 400;
}

#form-container {
    width: 30vw;
    margin-left: var(--input-pane-left-padding);
}

#form-text-top {
    margin-left: var(--input-pane-left-padding);
    padding-top: 16px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 600;
}

#sign-up-form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.5vw;
    row-gap: 25px;
}

input, label {
    display: block;
}

input {
    width: 12vw;
    height: 30px;
    border: solid 1px rgb(219, 219, 219);
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: solid 1px rgb(0, 108, 197);
    box-shadow: 2px 2px 5px 0 rgb(177, 177, 177);
}

label {
    font-size: .8em;
    margin-bottom: 3px;
}
